.repositoryItemWrapper {
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 9px 2px rgba(29, 29, 29, 0.31);
  padding: 30px;
  align-items: center;
  transition: .1s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 9px 2px rgba(29, 29, 29, 0.51);
  }

  & a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;

    & div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & .repInfoName {
        font-weight: bold;
      }

      & span .repInfoLink {
        color: #1890ff;
        height: auto;
        transition: .3s;

        &:hover {
          color: #40a9ff;
        }
      }
    }
  }
}